body {
    width: 800px;
    height: auto;
    margin:20px auto;
    background-color:white;
    padding: 20px 40px 40px 40px;
    
    border: 5px solid black;
    
  }
  html{
    background-color: #C1272D;
    }
    img{
        display:block;
        margin: 10px auto;
       
        }
        h1{
            margin: 0;
            padding: 20px;
        }
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: auto;
  background-color: #f1f1f1;
}

/* visible is added in JS */
.collapsible-content.visible {
  display: block;
}


        